html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(200, 200, 200);
  height: 100%;
  margin: 0;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;

}

h1 {
  text-align: center;
}

@media (max-width: 1100px) {
  #data_table {
    width: 100% !important;
    margin: 0 auto !important;
    font-size: 12px !important;
    overflow-x: auto !important;
  }
  th,td{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
@media (max-width: 700px) {
  .full {
    display: none !important;
  }
  
  .short {
    display: inline !important;
  }
}

.short {
  display: none;
}

#title {
  font-size: 16px;
}

#data_table {
  width: 70%;
  margin: 0 auto;
}


#controls {
  margin-bottom: 20px;
  text-align: center;
  
}

#controls input {
  margin-left: 10px;
  padding: 5px;
  width: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgb(120, 120, 120);
  cursor: pointer;
  user-select: none;
}

th.sort-asc::after {
  content: " ▲";
}

th.sort-desc::after {
  content: " ▼";
}

tr:nth-child(even) {
  background-color: rgb(180, 180, 180);
}

tr:hover {
  background-color: #e9e9e9;
}

.navbar_logo img{
  height: 35px;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center; 
}

.navbar_right {
  margin-left: auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

nav a:hover {
  color: gray;
}

thead{
  color: black;
}