/* Reset default spacing and prevent overscroll */
html,
body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body {
    text-align: center;
    background-color: rgb(200, 200, 200);
    font-family: sans-serif;
}

/* Fixed Navigation Bar */
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* Create space below the fixed header */
#title {
    font-size: 16px;
}

/* Map container styling */
#map {
    width: 90%;
    margin: 20px auto;
    /* Add some vertical spacing if needed */
    height: 500px;
}

.navbar_logo img {
    height: 35px;
}

.navbar_right {
    margin-left: auto;
}

.navbar_left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.coffee {
    margin-left: 10px;
}

.coffee:hover {
    color: #D0BB94 !important;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}


nav a:hover {
    color: gray;
}

.short {
    display: none;
}

@media (max-width: 700px) {
    .full {
        display: none !important;
    }

    .short {
        display: inline !important;
    }
}